
body{
    font-family: Helvetica;
    background-image: url("https://selab.hanyang.ac.kr/courses/cse326/2019/labs/images/2/cse326bg.jpg");
    background-repeat: no-repeat;
    background-position: 1200px 10px;
    background-color: #1D2475;
    color: #939396;
}
h1{
    font-size: 40pt;
    text-shadow: 3px -3px gray;

}
dl{
    font-size: 70%;
    font-weight: bold;
}
p:first-letter{
    font-weight: bold;
    font-size: 150%;
}
p{

}
a{
    color: #FF4F4F;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
h1, h2{
    color: #F7931E;
}
strong, dl{
    color: #FFF86B;
}
q{
    color: #D1DFEB;
}
li, q{
    text-align: left;
}
table, td, th{
    border: 2px dotted black;
}
table{
    border-collapse: collapse;
}
ul{
    list-style-type: square;
}
h2.shout{
    color: red;
}
